{% load static %}
{% load mathfilters %}

<div class="question">
    <div class="row">
        <div class="col-3">
            <div class="avatar">
                <img src="{% static question.user.avatar %}" alt="lost" />
            </div>
            <div class="rating-result">
                {% include 'main/base/like.html' %}
            </div>

            
        </div>
        <div class="col-9">
            <h2 class="question-title"><a href="{% url 'question' question.id %}">{{ question.title }}</a></h2>
            <div class="question-text">
                {{ question.text|truncatechars:100 }}
            </div>
            <br>
            <div class="question-answers">
                <a href="{% url 'question' question.id %}">answers ({{ question.get_num_answers }})    </a>
            </div><br>
            <div class="question-tags">
                Tags: 
                {% for i in question.get_tags %}
                    <a href="{% url 'tag_questions' i %}">{{ i }}   </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>