{% load static %}

<div class="row">
    <div class="col-4">
        <div class="avatar-nav">
            {% with "ask_me/"|add:user_info.avatar as path %}{% endwith %}
            
            <a href="{% url 'settings' %}"><img src="{{ request.user.profile.avatar.url }}" alt="lost"></a>
        </div>       
    </div>

    <div class="col-8">
        <div class="user-info">
            <span>{{ user_info.user.username }}</span> <br>
            <a href="{% url 'settings' %}">Settings</a>
            <a href="{% url 'logout' %}">log out</a>
        </div>
    </div>
</div>