{% load static %}
{% load mathfilters %}

<div class="answer">
    <div class="row">
        <div class="col-3">
            <div class="avatar">
                <img src="{{ answer.user.avatar.url }}" alt="lost" />
            </div>
            <div class="rating-result">
                {% include 'main/question_page/like.html' %}
            </div>
            
        </div>
        <div class="col-9">
            <div class="question-text">
                {{ answer.text }}
            </div>
            <br>
            {% if answer.is_correct %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Correct
                    </label>
                </div>
            {% else %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Correct
                    </label>
                </div>
            {% endif %}
            
        </div>
    </div>
</div>