{% extends 'main/base/base.html' %}
{% load bootstrap5 %}

{% block content %}

    {% include 'main/question_page/question.html' %}

    {% for answer in posts %}
        {% include 'main/question_page/answer_item.html' %}
    {% endfor %}

    {% if posts.paginator.num_pages > 1 %}
        {% include 'main/base/pagination.html' with page=posts %}
    {% endif %}

    <div class="add_answer">
        <form novalidate action="{% url 'question' question.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Answer</button>
        </form>
    </div>

{% endblock %}