{% load static %}
{% load mathfilters %}

<div class="question-question-page">
    <div class="row">
        <div class="col-3">
            <div class="avatar-question-page">
                <img src="{% static question.user.avatar %}" alt="lost" />
            </div>
            <div class="question-page-like rating-result">
                {% include 'main/base/like.html' %}
            </div>
        </div>
        <div class="col-9">
            <h2 class="question-title"><a href="{% url 'question_page' question.id %}">{{ question.title }}</a></h2>
            <div class="question-text">
                {{ question.text }}
            </div>
            <br>
            <div class="question-page-tags">
                <span>Tags: </span>
                {% for tag in question.tag.all %}
                    <a href="{% url 'tag_questions' tag %}">{{ tag }}</a> 
                {% endfor %}
            </div>
        </div>
    </div>
</div>

