.login{
    margin-left: 200px;
    margin-right: 100px;
}

.login button{
    margin-bottom: 10px;
    margin-top: 15px;
}

#login{
    font-size: 30px;
    font-weight: 500;
    margin-right: 30px;
    margin-left: 170px;
    margin-bottom: 20px;
}

.form-group {
    margin-top: 14px;
}

.form-group label{
    margin-left: 0px;
}

.message{
    color: red;
}

.user-photo{
    margin-top: 7px;
}

